@using MyMVCDemo1.Model；

@model Student

@{
    ViewBag.Title = "Index";
}

<div>
    <p>
       我的ID是：@Model.Id
    </p>
    <p>
        我的名字是：@Model.Name
    </p>
    <p>
        我的年龄是：@Model.Age
    </p>
</div>

